<meta charset="UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<link rel="stylesheet" href="/css/style.css">

<script src="/js/app.js"></script>

<title>{{siteName}}</title>

<meta name="author" content="Elpis" />

<meta name="publisher" content="Elpis" />

<meta name='robots' content='all' />

<meta name='googlebot' content='all' />

<meta name='application-name' content="{{ siteName }}" />

<meta name="theme-color" content="#f4f4f4" />

<meta name="keywords" content="backend,app,app" />

<meta name="description" content="{{ description }}" />

<link rel="icon" href="/favicon.ico" />

<meta property="og:title" content="{{ siteName }}" />

<meta property="og:url" content="{{ host }}" />

<meta property="og:description" content="{{ description }}" />

<meta property="og:type" content="website" />

<meta property="og:locale" content="en_US" />

<meta name="twitter:site" content="@elpis_alpha" />

<meta name="twitter:creator" content="@elpis_alpha" />

<meta name="twitter:description" content="{{ description }}" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">